/* PROBLEM 1*/
/** {
  box-sizing: border-box;
}

main {
  padding: 30px;
  min-width: 250px;
}

.hero {
  height: 200px;
  margin-bottom: 20px;
}

.hero img {
  height: 100%
}


.thumbnail {
  display: inline-block;
  cursor: pointer;
  height: 60px;
}

a.thumbnail:hover {
  box-shadow: 5px 5px 5px gray;
}

.thumbnail img {
  max-height: 100%;
}*/

/* PROBLEM 2*/
/*
* {
  box-sizing: border-box;
  font-family: sans-serif;
}

main {
  max-width: 960px;
  margin: 0 auto;
  min-width: 250px;
  padding: 30px;
}

.lightbulb {
  border: 1px solid grey;
  padding: 10px;
  width: 25%;
  float: left;
  cursor: pointer;
}

.lightbulb img {
  width: 100%;
}

.bulb-on {
  background-color: yellow;
}*/

/* PROBLEM 3*/


